body {
  background: url('/images/teste.gif') no-repeat center center fixed;
  background-size: cover;
  color: #fff; /* Optional: to make text more readable */
}

/* Optional: to make cards stand out */
.card {
  background-color: rgba(0, 0, 0, 0.7); /* Transparent dark background */
  color: #fff;
  border: none;
}

.bg-purple{
  background-color: #510dfd;
}

.btn-custom {
  background-color: #750dfd;
  color: white;
}
.btn-custom:hover {
  background-color: #0b5ed7;
}
.dark-mode {
  background-color: #212529 !important;
  color: #f8f9fa;
}
.dark-mode .card {
  background-color: #343a40;
  color: #f8f9fa;
}
.dark-mode .list-group-item {
  background-color: #495057;
  color: #f8f9fa;
}
.navbar-brand img {
  height: 30px;
  margin-right: 10px;
}